/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

:root {
  --col-primary: #ff4d30;
  --col-black: #010103;
  --col-lightblack: #2d2d2d;
  --col-gray: #706f7b;
  --col-background: #f8f8f8;
}
/* globals */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 14px; */
}

a {
  text-decoration: none;
  color: var(--col-black);
}
li {
  text-decoration: none;
  list-style: none;
}
button {
  outline: none;
  border: none;
}
header {
  height: 100vh;
  background-color: var(--col-background);
}
.container {
  padding: 80px 0;
}
.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;

  /* background-color: aqua; */
}
.color-primary {
  color: var(--col-primary);
}

.banner {
  width: 40%;
  height: 100vh;

  background-image: url("/assets/banner_image.png");
  background-position: top;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
/* navbar */

.nav {
  width: 100%;

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  /* margin: 0 auto;

  display: flex;
  justify-content: space-between;

  align-items: center; */
  /* background-color: #ff4d30; */
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
}
.nav__img__wrapper {
  width: 145px;
}
.nav__logo {
  width: 100%;
  height: 100%;
}
.nav__links {
  display: flex;
  gap: 24px;
  /* padding-right: 100px; */
}
.nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    color: var(--col-primary);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}
.nav__btns {
  display: flex;
  gap: 12px;
}
.nav__btn {
  width: 100%;
  padding: 5px 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  &:hover {
    color: var(--col-primary);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
  &:nth-child(2) {
    background-color: var(--col-primary);
    color: white;
    padding: 12px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
/* hero */

.header__row {
  display: flex;
  margin-top: 30px;
  padding: 58px 18px;
  /* background: thistle; */

  /* justify-content: space-between; */
  align-items: center;
  position: relative;
}
.header__text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__text__subtitle {
  font-size: 24px;
  font-weight: 700;
}

.header__text__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  & > span {
    font-size: inherit;

    color: var(--col-primary);
  }
}

.header__text__description {
  color: var(--col-gray);
  margin: 12px 0 28px 0;
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 1.5px;
  font-weight: 500;
}

.header__text__btns {
  display: flex;
  gap: 16px;
}
.header__text__btn {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
  &:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}
.header__text__book {
  background-color: var(--col-primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.header__text__learn {
  background-color: var(--col-black);
  border: 2px solid transparent;
}
.header__img__wrapper {
  width: 55%;
  flex: 1;
  position: absolute;
  z-index: 2;
  right: 0;

  margin-top: 56px;
}
.header__img {
  width: 100%;
  height: 100%;
}

/* features */
#features {
  background-color: white;
}
.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.features__subtitle {
  font-size: 24px;
  font-weight: 600;
}
.features__title {
  font-size: 42px;
}
.features__list {
  display: flex;
  padding: 0 32px;
  margin-top: 36px;
  gap: 56px 120px;
}
/*  feature banner */
#banner {
  background-color: var(--col-lightblack);
  color: white;
}
.banner__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 20px;
  gap: 16px;
  text-align: center;
}
.banner__title {
  font-size: 52px;
  line-height: 1.2;
}
.banner__subtitle {
  font-size: 24px;
  font-weight: 400;
}

/* choose us section */

#choose {
  background-image: url(assets/choose-bg.png);
  background-repeat: no-repeat;
  background-position: -255px 255px;
  background-size: cover;
}
.choose__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.choose__img__wrapper {
  width: 100%;
}
.choose__img {
  width: 100%;
  height: 100%;
}
.choose__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.choose__text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.choose__feature {
  display: flex;
  gap: 12px;
}
.choose__text__title {
  font-size: 42px;
  line-height: 1.2;
}
.choose__text__para {
  margin-top: 12px;
  color: var(--gray);
}
.choose__text__btn {
  font-size: 18px;
  font-weight: 600;
  padding: 18px 20px;
  margin: 12px auto;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
  width: fit-content;
  background: var(--col-primary);
  box-shadow: 0 10px 15px 0 rgba(197, 41, 9, 0.5);
}
.choose__features {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.choose__feature {
  display: flex;
  gap: 12px;
}

/* testimonials */
#testimonials {
  background-color: var(--col-background);
}
.testimonials__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonials__subtitle {
  font-size: 22px;
  font-weight: 600;
}
.testimonials__title {
  font-size: 42px;
}
.testimonials__para {
  color: var(--col-gray);
  max-width: 700px;
  margin-top: 16px;
}
.testimonials__list {
  display: flex;
  margin-top: 80px;
  gap: 24px;
}
.testimonial {
  background: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 56px;
  gap: 40px;
}
.testimonial__review {
  font-size: 22px;
  text-align: left;
}
.testimonial__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonial__info__img__wrapper {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  overflow: hidden;
}
.testimonial__info__img {
  width: 100%;
  height: 100%;
}
.testimonial__info__profile {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.testimonial__info__name {
  font-size: 18px;
}
.testimonial__info__location {
  font-size: 16px;
  font-weight: 400;
}
.testimonial__info__icon {
  margin-left: auto;
  font-size: 48px;
  color: var(--col-primary);
}
/* download section */

#download {
  background-image: url(assets/download-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.download__row {
  width: 100%;
  height: 100%;
}
.download__text {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  gap: 28px;
}
.download__text__title {
  font-size: 42px;
}
.download__text__para {
  color: var(--col-gray);
}
.download__text__links {
  display: flex;
  gap: 32px;
}
.download__text__link {
  width: 40%;
}

/* footer */

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}
.footer__intro {
  width: 25%;
}
.footer__content {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__intro__title {
  font-size: 24px;
}
.footer__intro__para {
  color: var(--col-gray);
}
.footer__intro__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__company__title,
.footer__hours__title,
.footer__email__title {
  font-size: 24px;
  text-transform: uppercase;
}
.footer__company__links,
.footer__hours__list,
.footer__email__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.footer__email__form__input {
  height: 48px;
  padding: 0 16px;
  outline: none;
  border: none;
  background-color: #ececec;
}
.footer__email__form__submit {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  color: white;
  background: var(--col-primary);
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}
.footer__intro__link:hover,
.footer__company__link:hover {
  color: var(--col-primary);
}
.footer__email__form__submit:hover {
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}
/* media queries */
/* laptops xl */

@media (max-width: 1280px) {
  /* Footer */

  .footer__row {
    gap: 48px;
  }

  .footer__content {
    width: 40%;
  }
}

/* LG Screens */

@media (max-width: 1024px) {
  /* Navigation */

  .nav__links,
  .nav__btns {
    display: none;
  }

  .nav__menu {
    display: block;
  }

  /* Features */

  .features__list {
    flex-wrap: wrap;
    gap: 40px;
  }

  .feature {
    width: 45%;
  }

  /* Choose */

  .choose__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
  }

  .choose__text {
    align-items: center;
  }

  .choose__features {
    gap: 40px;
  }

  /* Testimonials */

  .testimonials__list {
    flex-direction: column;
    gap: 32px;
  }
}

/* Tablets - MD screens */

@media (max-width: 768px) {
  /* Header */

  .header__bg,
  .header__img__wrapper {
    display: none;
  }

  .header__row {
    justify-content: center;
  }

  .header__text {
    align-items: center;
    text-align: center;
  }

  /* Features */

  .feature {
    width: 100%;
  }

  /* Download */

  #download {
    background-image: none;
  }

  .download__row {
    display: flex;
    justify-content: center;
  }

  .download__text {
    align-items: center;
    text-align: center;
  }

  .download__text__links {
    justify-content: center;
  }
}

/* SM screens */

@media (max-width: 640px) {
  /* Testimonials */

  .testimonial {
    padding: 32px;
  }

  .testimonial__review {
    font-size: 18px;
  }

  /* Footer */

  .footer__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  /* Header */

  .header__text__btns {
    flex-direction: column;
    width: 100%;
  }

  /* Features */

  .features__list {
    margin-top: 0;
  }

  /* Choose */

  .choose__feature {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  /* Testimonials */

  .testimonial__info__icon {
    display: none;
  }

  /* Download */

  .download__text__links {
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
  }

  .download__text__link {
    width: 100%;
  }
}
